/* GENERAL */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background-color: #fff;
}

.container {
  width: 1224px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

input {
  border: inherit;
}

/* HEADER */

header {
  background-color: black;
}

header img {
  object-fit: cover;
  height: 50px;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  width: calc(50%);
}

header button {
  background: linear-gradient(#eb1c2e, #ebb964, #35cfb8);
  height: 40px;
  border-radius: 5px;
  width: 150px;
  font-weight: bold;
}

/* LIST CHARACTER */

.fond {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.list-character {
  height: 100%;
  background-image: url("https://static.posters.cz/image/1300/calendrier/marvel-comics-i32337.jpg");
  background-size: contain;
  background-position: center;
}

.opacite {
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-bottom: 20px;
  color: #35cfb8;
}

.recherche {
  display: flex;
  width: 100%;
  background-color: black;
  height: 40px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #35cfb8;
}

.list-character input {
  width: 300px;
}

.list-character input::placeholder {
  background-color: black;
  opacity: 0.8;
  color: #35cfb8;
}

/* CHARACTER CARD */

.character-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 7px;
}

.card {
  width: 230px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(#000000, #742606);
  color: white;
}

.card div {
  flex: 2;
  margin: 10px 5px;
  text-align: center;
  overflow-y: scroll;
  /* Cacher la scroll bar en gardant la fonctionnalité */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card div::-webkit-scrollbar {
  display: none;
}

.card h2 {
  flex: 1;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #eb1c2e;
  text-align: center;
}

.card img {
  flex: 2;
}

.card a {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ebb964;
  flex: 1;
}

.card button {
  height: 25px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#ebb964, #35cfb8);
}

.card p {
  height: 25px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#eb1c2e, #ebb964);
  color: #000000;
}

/* PAGINATION */

ul {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  overflow: scroll;
  flex-wrap: wrap;
  height: 50px;
  /* Cacher la scroll bar en gardant la fonctionnalité */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

.pagination-button {
  height: 25px;
  width: 35px;
  border-radius: 5px;
  font-weight: bold;
  color: #ebb964;
  background: black;
  border: #ebb964 solid 1px;
}

/* LIST COMIC */

.list-comic {
  height: 100%;
  background-image: url("https://static.posters.cz/image/1300/calendrier/marvel-comics-i32337.jpg");
  background-size: contain;
  background-position: center;
}

.list-comic input {
  width: 300px;
}

.list-comic input::placeholder {
  background-color: black;
  opacity: 0.8;
  color: #35cfb8;
}

.comic-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 7px;
}

/* LIST COMIC BY CHARACTER */

.list-comic-by-character {
  height: 100%;
  background-image: url("https://www.planetebd.com/dynamicImages/album/cover/large/35/09/album-cover-large-35099.jpg");
  background-size: contain;
  background-position: center;
  color: white;
}

.small-container {
  display: flex;
  justify-content: center;
}

.personnage-selectionne {
  display: flex;
  background: linear-gradient(black, #35cfb8);
  width: calc(100% / 2.5);
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.name-description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.list-comic-by-character h3 {
  color: #eb1c2e;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.name-description div {
  text-align: center;
}

/* LIST FAVORITE */

.list-favorite {
  height: 100%;
  background-image: url("https://www.planetebd.com/dynamicImages/album/cover/large/35/09/album-cover-large-35099.jpg");
  background-size: contain;
  background-position: center;
}

.empty-favorite {
  height: 25px;
  margin: 10px 0px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px 0px 5px;
  background: linear-gradient(#ebb964, #35cfb8);
  width: 100%;
  text-align: center;
}

.list-favorite button {
  height: 25px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(#ebb964, #35cfb8);
}
